@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
/* begin app */
.container {
  margin: 0px auto;
  padding: 0px 15px;
  border: 1px solid grey;
}
/* media querie par bootstrap on lutulise souvant */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* end app */
/* begin header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}
.header h2 {
  color: green;
}
.header .btn {
  font-size: 16px;
  padding: 5px 15px;
  background-color: blue;
  border: none;
  color: #eee;
  border-radius: 11px;
  cursor: pointer;
}

/* end header */

/* start task */
.tasks {
  margin: 30px 0px;
}
.lineThrough {
  text-decoration-line: line-through;
  background-color: #6a6565c9 !important;
}
.lineThrough .icons .tick {
  background-color: white;
  border-radius: 2px;
}

.task-reminder {
  border-left: 5px solid green;
}
.task {
  background: #f4f4f4;
  margin: 6px;
  padding: 10px 20px;
  cursor: pointer;
}
.task .icons {
  display: flex;
  gap: 10px;
}
.task .txtcontent {
  color: black;
  font-weight: 600;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task p {
  margin-left: 10px;
  font-size: 12px;
}

/* end task */

/* start add task */
form {
  display: none;
}
.show {
  display: block;
  transition: 1s;
}

input {
  width: 100%;
  padding: 6px;
  margin: 4px;
  border: 2px solid rgba(0, 0, 0, 0.392);
}
input[type="submit"] {
  background-color: black;
  color: #eee;
  font-weight: 800;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
}

input:focus {
  outline: none;
}
.form-input {
  margin: 10px 0px;
}
.todo .form-input:last-of-type {
  display: flex;
}
.todo .form-input:last-of-type input {
  width: 20%;
}

/* end add task */
.menu {
  text-align: center;
}
.menu button {
  background-color: green;
  color: #eee;
  font-weight: 800;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 20%;
  margin-top: 16px;
}
.menu input {
  width: 100%;
  display: block;
}
.hide {
  display: none;
}
.menu .toLeft {
  display: flex;
  justify-content: right;
}
